*{
 padding: 0;
 margin: 0;
 box-sizing:border-box ;
}

body{
    width: 100vw;
    height: 100%;
    background-color: rgb(243, 177, 177);
}
#flex_container{
    border: 4px solid brown;
    height: 50vh;
   padding: 10px;
   margin: 10px;
   display: flex;
   gap: 10px;
   /* flex-direction: row;
   flex-wrap: wrap; */
   flex-flow: row wrap;
   /* ----> rows x-axis justity y-axis align*/
   justify-content: space-around;  
}
#flex_containercol{
    border: 4px solid brown;
    height: 50vh;
   padding: 10px;
   margin: 10px;
   display: flex;
   gap: 10px;
   /* flex-direction: row;
   flex-wrap: wrap; */
   /* column x-axis--> justify, y axis-->  align */
   flex-flow: column ;
   align-items: center;
}
#flex_containerbtw{
    border: 4px solid brown;
    height: 50vh;
   padding: 10px;
   margin: 10px;
   display: flex;
   gap: 10px;
   /* flex-direction: row;
   flex-wrap: wrap; */
   flex-flow: column ;
   /* align-items: flex-start; */
   justify-content: center;
   /* align-items; */
}



/* flow-grow */
#flex_container{
   border: 4px solid brown;
   height: 50vh;
   padding: 10px;
   margin: 10px;
   display: flex;
   gap: 10px;
  
}


.box{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: 4px solid black;
}

.box:nth-child(3){
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: 4px solid black;
    flex-grow: 2;
    order: 0;
}