*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}
.container{
    border: 2px solid purple ;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 1fr 200px 100px;
    gap: 10px;
}
.box{
    background-color: brown;
    padding: 10px;
    font-size: 22px;
}
.header, .footer,.nav{
    grid-column-start: 1;
    grid-column-end: 3;
}