body{
    background-color:url();
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    color: blue;
}
h1,h2,h3,h4{
    color: violet;
}
ol{
    color: brown;
}
.selectors > li{
    font-size:large;
    text-transform:uppercase;
    text-decoration:wavy;
    letter-spacing: 2px;
}
#box{
    border: 4px solid green;
    width: 200px;
    text-align: center;
    height: 200px;
    border-radius: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
a:hover{
    font-size: 24px;
}

.classselector