:root {
    --primary: #4a73ff;
    --bg-dark: #0e0f12;
    --text-light: #f5f5f5;
    --text-gray: #c4c4c4;
    --font-family: pop
    --glass: rgba(255 255 255 0.6)
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: var(--bg-dark);
    color: var(--text-light);
    overflow-x: hidden;
    /* width: 100vw;
    height: 100%; */
}

.header {
    position: fixed;
    width: 100%;
    background: rgba(15,15,18,0.5);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding:0.8rem 0 ;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style-type: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
 display: flex;
 gap: 1.8rem;

}
.navigation a{
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.3s;
}
.navigation a:hover{
    color: var(--primary);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {}


/* hero section */
.hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.5)),url("//https:via.placeholder.com/400") center/cover no-repeat;



}
#hero-title{
  font-size: 3.5rem;
  font-weight: 700;
  max-width: 700px;

}
.hero-text{
    margin: 1rem 0 2rem;
    font: 1.2rem;
    columns: var(--text-gray);
}

.btn{
    padding: 0.9rem 2.2rem;
    background-color: var(--primary);
    border-radius: 50px;
    display: inline block;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}

.btn:hover{
    opacity: 0.5;
    transform: scale(1.05);
}

/* portifoloi */

.portfolio{
    padding: 6rem;
    text-align: center;

}

.section-title{
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
}

.card{
    background:var();
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255 255 255,0.1);
    transition: 0.5s;
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    margin-bottom: 0.8rem;
}
.card p{
    color: var(--text-gray);
    font-size: 0.95rem;
}
.card:hover{
    transform: translateY(-6px) scale(1.03) ;
}

.team{
    padding: 6rem;
    text-align: center;
}
.team-member{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.person img{
    width: 260px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary);
    transition: 0.5s;
}
/* person:hover img{} */
.person img:hover{
    transform: scale(1.06);
}
.person h3{
    margin: 1rem;
    font-weight: 500;
}

.contact{
    padding: 6rem;
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: auto;
}

.contact-form input, .contact-form textarea{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255 255 255,0.08);
    color: white;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.12);
  margin-top: 2rem;
  font-size: 0.9rem;
  color: var(--text-gray);
}