*{
    padding: 30px;
    margin: 30px;
}

body{
    height: 100%;
    width: 100%;
    border: 5px solid black;
}

.box_content{
    border: 5px dotted red;
    height: 450px;
    width: 450px;
    padding: 50px;
    margin: 50px;
}
.box_model{
    border: 30px solid black;
}