*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
    background-color: greenyellow;
}
.parent{
    border: 2px solid blueviolet;
    display: grid;
  
    grid-template-columns: 100px 200px 300px;   /* --->(or)grid-auto-columns */
    grid-template-rows: 200px 200px;   ---> (or)grid-auto-rows
    gap: 1em;
    grid-template-areas: 
    "box1 box1 box2 "
     "box1 box1 box4  " 


}
.box{
    border: 2px solid brown;
    height: 150px;
    width:150px;
    background-color: blueviolet;
} x
 #box1{
    grid-area: "box1";
}

.box{
    background-color: blue;
}
@media(max-width:600px){
    .parent{
    border: 2px solid blueviolet;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 1em;
    grid-template-areas:
     "box1 box1 box2"
     "box1 box1 box3"
     "box5 box5 box5" 
 }

@media(max-width:500px){
    .parent{
    border: 2px solid blueviolet;
    display: grid;
    grid-template-columns: 50px ;
    grid-template-rows: 50px 50px 50px 50px 50px ;
    gap: 1em;
    grid-template-areas:
     "box1"
     "box2"
     "box3"
     "box4 "
     "box5 "
 }
}