*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color:aquamarine;
    color: black;
}
header{
    width: 100%;
    height: 15vh;
    background-color: black;
}
nav{
      display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
a {
  color: white;
  font-size: 24px;
}
main {
  width: 100%;
  height: 80vh;
  background: white;
  padding: 10px;
}
footer {
  background: black;
  height: 5vh;
  color: white;
}
@media screen and (max-width:600px orid)  {
    body{
    width: 100%;
    height: 100%;
    background-color:rgb(127, 255, 133);
    color: black;
}
header{
    width: 100vh;
    height: 25vh;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
a{
    font-size: 15px;
}
  .main-container {
    display: flex;
  }
}