:root {
    --primary: #4a73ff;
    --bg-dark: #0e0f12;
    --text-light: #f5f5f5;
    --glass: rgba(255, 255, 255, 0.1);
    --text-gray: #c4c4c4;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    width: 100%;
    min-height: 1200px;
    overflow-x: hidden;

}

/* header */
.header{
    width: 100%;
    height: 30%;
    background-color: #f16800;
}
.container{
    position: fixed;
    width: 100%;
    background-color: #f16800;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 0.8rem;
    z-index: 1000;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unorder {
    display: flex;
    gap: 10rem;
  }

.unorder a{
    font-size: 0.95rem;
    font-weight: 500;
    transition: 0.1s;
}

.unorder a:hover {
    color: var(--primary);
  }
  
.unorder{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* hero section */
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.45)),
    url("./banner.png") center/cover no-repeat;
    
}


.hero-title{
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
}
.hero-text{
    font-size: 1rem;
    gap
}
.btn{
    height: 20px;
    width: 80px;
    padding:  1rem 2rem;
    background-color: #4a73ff;
    border-radius: 10px;
    /* display: inline-block; */
    position: flex;
    top: 100px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
}
.btn :hover{
    transform: scale(1.05);
    background-color: #48c2ff;
    opacity: 0.5;
}

/* <!--dish --> */

.dish{
    /* text-align: center; */
    padding-top:2rem ;

}
.grid{
    padding-left: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;

}

.card img{
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 0.8rem;
}
.card p {
  font-size: 0.95rem;
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  font-weight: 600;
}

/* Chefs */
.chefs{
    padding: 6rem;
    text-align: center;
}
.containers-chef{
    font-size: 4rem;
    font-weight: 800;
}

/* chef grid*/
.chefs-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.person img{
  width: 230px;
  height: 230px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid var(--primary);
  transition: 0.5s;
}
.person img:hover{
    transform: scale(2.6rem);
}
.card p{
    font-size: 1rem;
    font-weight: 400;
}

/* contacts */
.review{
    padding: 3rem;
    text-align: center;
    background-color: #c4c4c4;
}

.contact-form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 600px;
  margin: auto;
  padding:2rem;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.937);
  color: rgb(14, 10, 10);
}

.footer {
  text-align: center;
  padding: 1.5rem;
  border-top: 2px solid rgba(230, 154, 13, 0.12);
  margin-top: 2rem;
  font-size: 0.9rem;
  color:cadetblue;
}